body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding:0px;
}
h1{
    font-size: 50px;
}
.name_color{
    color:orange;
}
.sec-class{
    display: flex;
}
.half-width{
    padding-left: 5%;
    width: 50%;
}
.half-width img{
    height: 80%;
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    border-radius: 5px;
    font-weight: 700px;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.big-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    padding-left: 5%;
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    border-radius: 10px;
   
}
h2{
    font-size: 40px;
}
.experience-class{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}
#Full-Stack-Web-Developer{
border-left: 5px solid;
border-image: linear-gradient(blue,cyan);
border-image-slice: 1;
}
#Baby-Web-Developer{
    border-left: 5px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin-top: 100px;
}